.container {
  --px-base: 1.6rem;
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-base) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.even-columns {
  display: grid;
  gap: 1.6rem;
}

.items-center {
  align-items: center;
}

.gap-16 {
  gap: 1.6rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-32 {
  gap: 3.2rem;
}

.py-base {
  padding-block: var(--py-base);
}

.bg-surface-color {
  background-color: var(--surface-color);
}

@media (width >= 1280px) {
  .container {
    --max-width: 1280px;
    --px-base: 3.2rem;
  }

  .even-columns {
    grid-auto-flow: column;
  }

  .desktop-only {
    display: initial;
  }
}
